framework: netcoreapp1.1
source https://nuget.org/api/v2

nuget FAKE
nuget Microsoft.AspNetCore.Hosting
nuget Microsoft.AspNetCore.Owin
nuget Microsoft.AspNetCore.Server.IISIntegration
nuget Microsoft.AspNetCore.Server.Kestrel
nuget Nancy = 2.0.0-clinteastwood
nuget NLog ~> 5 beta rc
nuget NLog.Targets.ElasticSearch ~> 4 beta rc